.spin-wrapper{
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: center;
    background-color: #777;
    filter:progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75);
    opacity: 0.4;
    z-index: 100;
}